@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: ModernoFBComp;
    src: url(../font-family/modernofbcomp-semibold.otf);
}

* {
    padding: 0%;
    margin: 0%;
    list-style-type: none !important;
    box-sizing: border-box;
    text-decoration: none !important;
}

.first-head {
    background: #000000;
}

.first-head marquee div {
    min-height: 52px;
}

.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee div {
    display: inline-block;
    padding-left: 100%;
    text-indent: 0;
    animation: marquee 15s linear infinite;
}

.marquee div:hover {
    animation-play-state: paused
}

.heading-txt {
    color: #FFFFFF;
    font-family: "Noto Serif", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
}

.red-border {
    border: 1px solid #FF0000;
    border-radius: 5px;
    padding: 3px;
    margin-left: 8px;
    color: #FF0000;
}

.yellow-border {
    border: 1px solid #FFD600;
    border-radius: 5px;
    padding: 3px;
    margin-left: 8px;
    color: #FFD600;
}

/* Make it move */
@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}